@charset "utf-8";

* {
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}

header {
    height: 300px;
    background-image: url(img/design1_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

#subtitulo {
    height: 50px;

}

h1 {
    position:absolute;
    font-size: 40px;
    margin-left: 10px;
   
}

h2 {
    color: white;
    text-align: center;
    background-color: black;

}

#contenido {
    margin-left: 200px;

}

#logo {
    position: absolute;
    left: 1000px;
    top: 320px;

}

nav{
    display: block;
    width: 200px;
    
}

.link {
    display: block;
    float: left;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;

}

.link1 {
    display: block;
    float: left;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}